%script{src:'https://js.pay.jp/v2/pay.js'}
- if flash[:alert]
  .alert-alert
    = flash[:alert]
.wrapper
  .header
    .header__logo
      = link_to root_path,class: 'header__logo--link' do
        = image_tag "logo.png",class:"header__logo--img"
  .new-card_main
    .new-card-main
      .new-card_main-title
        クレジットカード新規登録
      .new-card_main-form
        %form{action:"/creditcards",method:"POST",name:"new_creditcard"}
          #number-form.payjs-outer
          #expiry-form.payjs-outer
          #cvc-form.payjs-outer
          %input{type:"text",name:"name",placeholder:"YAMADA TAROU",style:"ime-mode: disabled;",class:"new-card_main-form-name"}
          %input{type:"hidden", name:"authenticity_token",value:form_authenticity_token}
          %input{type:"hidden",name:"token",id:"token",value:""}
          %input{type:"hidden",name:"user",value:@user}
          %text_field{type:"text",name:"card_token",id:"error"}
          %input{type:"button",onclick:"onSubmit2(event)",value:"カードを登録する",class:"new-card_main-form-btn-submit"}
          = link_to root_path, class: "new-card_main-form-btn-back" do
            もどる
  .footer
    %ul.footer__conditions
      %li.footer__conditions--list
        = link_to "#",class: 'btn btn--back' do
          プライバシーポリシー
      %li.footer__conditions--list
        = link_to "#",class: 'btn btn--back' do
          利用規約
      %li.footer__conditions--list
        = link_to "#",class: 'btn btn--back' do
          特定商取引に関する表記
    .footer__logo
      = link_to root_path,class: 'footer__logo--link' do
        = image_tag "logo-white.png",class:"footer__logo--img"

  :javascript
    var payjp = Payjp('pk_test_6bbb4903ef4b47c3dbb3f341')
    var elements4 = payjp.elements()
  
    var numberElement = elements4.create('cardNumber')
    var expiryElement = elements4.create('cardExpiry')
    var cvcElement = elements4.create('cardCvc')
    numberElement.mount('#number-form')
    expiryElement.mount('#expiry-form')
    cvcElement.mount('#cvc-form')
    function onSubmit2(event) {
      payjp.createToken(numberElement)
      .then((r) => {
        if(r.error){
          document.querySelector('#error').innerText = r.error.message;
        }else{
          document.querySelector('#token').value = r.id;
          document.new_creditcard.submit();
        }
      })
    }