.pickup-section
  .pickup-section__header
    ピックアップカテゴリー
  .pickup-section__title
    新規投稿商品

  .pickup-section__main
    .pickup-section__main--lists
      %ul.list
        .list__pict
          = image_tag src="/assets/IMG_9072.jpeg", size: "220x150"
        .list__body
          .name
            簡単に売り買いできる
          %ul.details
            1000円
            %i.fa.fa-star.likeIcon 0
          %p.details__tax
            (税込)

      %ul.list
        .list__pict
          = image_tag src="/assets/a004.png", size: "220x150"
        .list__body
          .name
            簡単に売り買いできる
          %ul.details
            1000円
            %i.fa.fa-star.likeIcon 0
          %p.details__tax
            (税込)

      %ul.list
        .list__pict
          = image_tag src="/assets/a001.png", size: "220x150"
        .list__body
          .name
            簡単に売り買いできる
          %ul.details
            1000円
            %i.fa.fa-star.likeIcon 0
          %p.details__tax
            (税込)

      %ul.list
        .list__pict
          = image_tag src="/assets/a007.png", size: "220x150"
        .list__body
          .name
            簡単に売り買いできる
          %ul.details
            1000円
            %i.fa.fa-star.likeIcon 0
          %p.details__tax
            (税込)

    .pickup-section
    .pickup-section__header
      ピックアップブランド
    .pickup-section__title
      アーカイバ

    .pickup-section__main
      .pickup-section__main--lists
        %ul.list
          .list__pict
            = image_tag src="/assets/IMG_9072.jpeg", size: "220x150"
          .list__body
            .name
              簡単に売り買いできる
            %ul.details
              1000円
              %i.fa.fa-star.likeIcon 0
            %p.details__tax
              (税込)

        %ul.list
          .list__pict
            = image_tag src="/assets/a004.png", size: "220x150"
          .list__body
            .name
              簡単に売り買いできる
            %ul.details
              1000円
              %i.fa.fa-star.likeIcon 0
            %p.details__tax
              (税込)

        %ul.list
          .list__pict
            = image_tag src="/assets/a001.png", size: "220x150"
          .list__body
            .name
              簡単に売り買いできる
            %ul.details
              1000円
              %i.fa.fa-star.likeIcon 0
            %p.details__tax
              (税込)

        %ul.list
          .list__pict
            = image_tag src="/assets/a007.png", size: "220x150"
          .list__body
            .name
              簡単に売り買いできる
            %ul.details
              1000円
              %i.fa.fa-star.likeIcon 0
            %p.details__tax
              (税込)